// ============================
// SASS Styles for this project
// ============================

// =========
// Variables
// =========

$facebookBlue: #428bb6
$twitterBlue: #46d0fe
$lightGray: #d3dddf
$colorCrodity: #ffca43

@media (max-width: 599px)

    .headerPage .card-profile-image 
        z-index: 1 
        left: 120px
        position: relative
        z-index: 1
        cursor: pointer
        margin: 0
        margin-top: -110px

    .headerPage .card-image
        height: 250px
     
    .btnFollowProfile
        margin: 30px 0

        


@media (min-width: 600px)

    body
        background: #fff

    .app-main
        background: $colorCrodity
        cursor: 'pointer'
        color: '#000'
        line-height: 42px

    .card .card-action a 
        color: gray
        margin-right: 20px
        -webkit-transition: color .3s ease
        -moz-transition: color .3s ease
        -o-transition: color .3s ease
        -ms-transition: color .3s ease
        transition: color .3s ease
        cursor: pointer
        text-transform: none

    input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
        border-bottom: 1px solid yellow
        box-shadow: 0 1px 0 0 yellow

    .waves-effect.waves-crodityColor
        background-color: $colorCrodity

    .card .card-content 
        padding: 12px
        border-radius: 0 0 2px 2px

    .card .card-action 
        border-top: 1px solid rgba(160, 160, 160, 0.2)
        padding: 0px

    .row .col 
        float: left
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 0 0.75rem

    .email-field-component
        padding-left: 20px

    .mainLoading
      padding: 300px

    .reactionIcon
        padding-left: 20px

    .background
        position: absolute
        overflow: hidden
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1

    .side-nav .userView
        position: relative
        padding: 32px 32px 0
        margin-bottom: 8px

    .side-nav a
        color: rgba(0,0,0,0.87)
        display: block
        font-size: 14px
        font-weight: 500
        height: 48px
        line-height: 48px
        padding: 0 32px

    .side-nav .userView > a
        height: auto
        padding: 0px

    .side-nav li:hover, .side-nav li.active
        background-color: #FFFFFF
        opacity:.9

    .side-nav li
        padding: 0

    .main-logged
        padding-left: 245px

    .validUser
        color: #64dd17
        
    
    .invalidUser
        border-bottom: 1px solid #d50000
        box-shadow: 0 1px 0 0 #d50000

    .btTwitter
        background-color: #1da1f2

    .backgroundCard
        position: absolute
        overflow: hidden
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1
    
    .headerPage .card-profile-image 
        width: 110px 
        position: absolute 
        top: 190px 
        z-index: 1 
        left: 40px 
        cursor: pointer 
        margin: 0 

    .headerPage .card-image
        height: 250px
    
    .tabs
        display: -webkit-box
        display: -moz-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        position: relative
        overflow-x: hidden
        overflow-y: hidden
        height: 48px
        background-color: #fff
        margin: 0 auto
        width: 100%
        white-space: nowrap

    .tabs .tab a 
        color: #00bcd4
        display: block
        width: 100%
        height: 100%
        text-overflow: ellipsis
        overflow: hidden
        -webkit-transition: color 0.28s ease
        -moz-transition: color 0.28s ease
        -o-transition: color 0.28s ease
        -ms-transition: color 0.28s ease
        transition: color 0.28s ease
    
    .profile-page-wall .tab-content
        padding: 10px


    .btnFollowProfile
        margin: 30px 0