// ============================
// SASS Styles for this project
// ============================

// =========
// Variables
// =========
$facebookBlue: #428bb6
$twitterBlue: #46d0fe
$lightGray: #d3dddf
$colorCrodity: #ffca43

@media (min-width: 600px)

    body
        background: #fff
       

    .drawer-main
        background: $colorCrodity
        cursor: 'pointer'
        color: '#000'
