// ============================
// SASS Styles for this project
// ============================

// =========
// Variables
// =========
$facebookBlue: #428bb6
$twitterBlue: #46d0fe
$lightGray: #d3dddf

// ===========
// Main Styles
// ===========

body
	font-family: 'sinkin-sans', Arial
	padding: 5px

img.responsive
	max-width: 100%
	height: auto

ul.inset
	margin: 0
	padding: 0

	li
		display: inline-block
		margin-right: 10px


// ==============
// mobile/App.jsx
// ==============

.mobile-app
	padding-left: 10px
	padding-right: 10px

.mobile-login
	text-align: center
	padding: 30px

	h3
		color: #666

	.connect-buttons
		.button
			text-align: center
			display: block
			margin-bottom: 5px

			.fa
				width: 20px

		.button.facebook
			background: $facebookBlue
			color: #fff

		.button.twitter
			background: $twitterBlue
			color: #fff


// ===============
// mobile/Feed.jsx
// ===============

.feed
	padding: 5px 0
	margin: 5px

	// ===================
	// mobile/FeedUnit.jsx
	// ===================

	.feed-unit
		padding: 10px
		background: #fff
		margin: 10px

		.avatar
			border-radius: 100px

		.header-data
			padding-left: 5px

			.title
				margin: 0 0 10px 0

			.date, .service
				margin: 0
				color: #666

				span.icon
					width: 20px
					display:  inline-block

		.content
			margin: 20px 0

		.statistics
			color: #666

			.icon
				display: inline-block
				font-size: 15px
				position: relative
				top: 2px
				width: 20px